{% extends 'base.html.twig' %}

{% block title %}{{ article.heading}}{% endblock %}
{% block metaKeywords %}{% if article.metaKeywords is not null %}{{ article.metaKeywords }}{% else %}{{ parent() }}{% endif %}{% endblock metaKeywords %}
{% block metaDescription %}{% if article.content is not null %}{{ article.content }}{% else %}{{ parent() }}{% endif %}{% endblock metaDescription %}

{% block content %}
    <div class="container">
        <h1>{{ article.heading }}</h1>

        {{ article.content|raw }}
    </div>
{% endblock content %}