{% extends 'base.html.twig' %}

{% block title %}{{ page.heading}}{% endblock %}
{% block metaKeywords %}{% if page.metaKeywords is not null %}{{ page.metaKeywords }}{% else %}{{ parent() }}{% endif %}{% endblock metaKeywords %}
{% block metaDescription %}{% if page.content is not null %}{{ page.content }}{% else %}{{ parent() }}{% endif %}{% endblock metaDescription %}

{% block content %}
    <div class="container">
        <h1>{{ page.heading }}</h1>

        {{ page.content|raw }}
    </div>
    <br>
{% endblock content %}